################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Helpers/PagingModel.cs
/Views/Shared/_Paging.cshtml
