
/****** Object:  Database [SWP]    Script Date: 6/10/2023 10:20:39 PM ******/
CREATE DATABASE [SWP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SWP', FILENAME = N'D:\SWP\SWP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SWP_log', FILENAME = N'D:\SWP\SWP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
 

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWP]
GO
/****** Object:  Table [dbo].[AccountRole]    Script Date: 6/10/2023 10:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountRole](
	[role] [varchar](10) NOT NULL,
	[roleID] [varchar](10) NOT NULL,
	constraint role Unique (role),
 CONSTRAINT [PK_AccountRole] PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accountss]    Script Date: 6/10/2023 10:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accountss](
	[AccountID] [varchar](20) NOT NULL,
	[username] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](10) NOT NULL,
	[email] [varchar](50) NULL,
	constraint username Unique (username),
	CONSTRAINT [PK_Accountss] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InfoAccount]    Script Date: 6/10/2023 10:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoAccount](
	[AccountID] [varchar](20) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[age] [varchar](20) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[birthday] [varchar](50) NULL,
	[nation] [varchar](50) NULL,
	[gender] [varchar](10) NULL,
	[identitycard] [varchar](30) NULL,
	constraint [AccountID] Unique ([AccountID]),
	constraint [identitycard] Unique ([identitycard])
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 6/10/2023 10:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[AccountID] [varchar](20) NOT NULL,
	[HotelID] [varchar](20) NOT NULL,
	[HotelName] [varchar](50) NOT NULL,
	[HotelAddress] [varchar](100) NOT NULL,
	[Province] [varchar](15) NOT NULL,
	[StartPrice] [char](10) NOT NULL,
	[HotelInfo] [varchar](255) NOT NULL,
	[Avartar] [varchar](100) NOT NULL,

	constraint [HotelID] Unique ([HotelID]),
 CONSTRAINT [PK_Hotel] PRIMARY KEY CLUSTERED 
(
	[HotelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 6/10/2023 10:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[HotelID] [varchar](20) NOT NULL,
	[RoomID] [varchar](20) NOT NULL,
	[RoomName] [varchar](20) NOT NULL,
	[RoomInfo] [varchar](255) NOT NULL,
	[RoomPrice] [varchar](20) NOT NULL,
	[BedQuantity] [varchar](20) NOT NULL,
	[Wifi] [binary](1) NOT NULL,
	[Window] [binary](1) NOT NULL,
	[Smoking] [binary](1) NOT NULL,
	[RoomImage] [varchar](255) NULL,
	[RoomAvailable] [int] NULL,
	CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Order]    Script Date: 6/10/2023 10:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[AccountID] [varchar](20) NOT NULL,
	[RoomID] [varchar](20) NOT NULL,
	[RoomName] [varchar](20) NOT NULL,
	[CheckIn] [varchar](20) NOT NULL,
	[CheckOut] [varchar](20) NOT NULL,
	[NumberOrder] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accountss]  WITH CHECK ADD  CONSTRAINT [FK_Accountss_AccountRole] FOREIGN KEY([role])
REFERENCES [dbo].[AccountRole] ([roleID])
GO
ALTER TABLE [dbo].[Accountss] CHECK CONSTRAINT [FK_Accountss_AccountRole]
GO
ALTER TABLE [dbo].[Hotel]  WITH CHECK ADD  CONSTRAINT [FK_Hotel_Accountss] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accountss] ([AccountID])
GO
ALTER TABLE [dbo].[Hotel] CHECK CONSTRAINT [FK_Hotel_Accountss]
GO
ALTER TABLE [dbo].[InfoAccount]  WITH CHECK ADD  CONSTRAINT [FK_InfoAccount_Accountss] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accountss] ([AccountID])
GO
ALTER TABLE [dbo].[InfoAccount] CHECK CONSTRAINT [FK_InfoAccount_Accountss]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Accountss] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accountss] ([AccountID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Accountss]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Room] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Room]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_Hotel] FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotel] ([HotelID])
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_Hotel]
GO
USE SWP
GO
INSERT [dbo].[AccountRole] ( [role], [roleID]) VALUES ( N'Admin', N'R001')
INSERT [dbo].[AccountRole] ( [role], [roleID]) VALUES ( N'Owner', N'R002')
INSERT [dbo].[AccountRole] ( [role], [roleID]) VALUES ( N'User', N'R003')
Go
INSERT [dbo].[Accountss] ([AccountID], [username], [password], [role], [email]) VALUES (N'A004', N'admin1', N'password1', N'R001', N'admin4@example.com')
INSERT [dbo].[Accountss] ([AccountID], [username], [password], [role], [email]) VALUES (N'A005', N'admin2', N'password1', N'R001', N'admin5@example.com')
INSERT [dbo].[Accountss] ([AccountID], [username], [password], [role], [email]) VALUES (N'A006', N'user1', N'user123', N'R003', N'user1@example.com')
GO
INSERT [dbo].[InfoAccount] ([AccountID], [name], [age], [phone], [email], [birthday], [nation], [gender], [identitycard]) VALUES (N'A004', N'Admin1', N'32', N'987654321', N'admin1@example.com', N'1991-07-15', N'USA', N'Female', N'5678904321')
INSERT [dbo].[InfoAccount] ([AccountID], [name], [age], [phone], [email], [birthday], [nation], [gender], [identitycard]) VALUES (N'A005', N'Admin2', N'27', N'123456789', N'admin2@example.com', N'1996-04-20', N'USA', N'Male', N'3456789012')
INSERT [dbo].[InfoAccount] ([AccountID], [name], [age], [phone], [email], [birthday], [nation], [gender], [identitycard]) VALUES (N'A006', N'User 1', N'29', N'987654321', N'user1@example.com', N'1994-08-05', N'USA', N'Female', N'2345678901')

Go
INSERT [dbo].[Hotel] ([AccountID], [HotelID], [HotelName], [HotelAddress],[Province], [StartPrice], [HotelInfo],[Avartar]) VALUES (N'O008', N'H001', N'Hotel 1', N'123 ABC Street',N'Da Nang', N'300,000', N'This is Hotel 1 in Da Nang','avt')
INSERT [dbo].[Hotel] ([AccountID], [HotelID], [HotelName], [HotelAddress],[Province], [StartPrice], [HotelInfo],[Avartar]) VALUES (N'O008', N'H002', N'Hotel 2', N'456 XYZ Street',N'Da Nang', N'400,000', N'This is Hotel 2 in Da Nang','avt')
INSERT [dbo].[Hotel] ([AccountID], [HotelID], [HotelName], [HotelAddress],[Province], [StartPrice], [HotelInfo],[Avartar]) VALUES (N'O008', N'H003', N'Hotel 3', N'789 DEF Street',N'Da Nang', N'350,000', N'This is Hotel 3 in Da Nang','avt')
GO
INSERT [dbo].[Room] ([HotelID], [RoomID], [RoomName], [RoomInfo], [RoomPrice], [BedQuantity], [Wifi], [Window], [Smoking], [RoomImage], [RoomAvailable]) VALUES (N'H001', N'AB001', N'Room 1', N'Standard Room with city view', N'100.00', N'2', 0x01, 0x01, 0x00, N'room1.jpg', 10)
INSERT [dbo].[Room] ([HotelID], [RoomID], [RoomName], [RoomInfo], [RoomPrice], [BedQuantity], [Wifi], [Window], [Smoking], [RoomImage], [RoomAvailable]) VALUES (N'H001', N'AB002', N'Room 2', N'Deluxe Room with ocean view', N'150.00', N'2', 0x01, 0x01, 0x00, N'room2.jpg', 5)
INSERT [dbo].[Room] ([HotelID], [RoomID], [RoomName], [RoomInfo], [RoomPrice], [BedQuantity], [Wifi], [Window], [Smoking], [RoomImage], [RoomAvailable]) VALUES (N'H001', N'AB003', N'Room 1', N'Standard Room with mountain view', N'100.00', N'2', 0x01, 0x01, 0x00, N'room3.jpg', 8)
Go
INSERT [dbo].[Order] ([AccountID],  [RoomID], [RoomName], [CheckIn], [CheckOut], [NumberOrder]) VALUES (N'A006',  N'AB001', N'Room 1', N'2023-06-10', N'2023-06-12', 1)
INSERT [dbo].[Order] ([AccountID],  [RoomID], [RoomName], [CheckIn], [CheckOut], [NumberOrder]) VALUES (N'A006',  N'AB002', N'Room 2', N'2023-06-11', N'2023-06-14', 2)
INSERT [dbo].[Order] ([AccountID],  [RoomID], [RoomName], [CheckIn], [CheckOut], [NumberOrder]) VALUES (N'A006',  N'AB003', N'Room 3', N'2023-06-12', N'2023-06-15', 3)

