USE [master]
GO
/****** Object:  Database [Bookeng]    Script Date: 6/21/2023 9:36:11 AM ******/
CREATE DATABASE [Bookeng]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bookeng', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\Bookeng.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bookeng_log', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\Bookeng_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bookeng].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bookeng]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 6/21/2023 9:36:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [varchar](20) NOT NULL,
	[username] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[roleID] [varchar](10) NOT NULL,
	[email] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[phone] [varchar](20) NULL,
	[birthday] [varchar](50) NULL,
	[nation] [varchar](50) NULL,
	[gender] [varchar](10) NULL,
	[identitycard] [varchar](30) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountRole]    Script Date: 6/21/2023 9:36:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountRole](
	[role] [varchar](10) NOT NULL,
	[roleID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_AccountRole] PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 6/21/2023 9:36:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[AccountID] [varchar](20) NOT NULL,
	[HotelID] [varchar](20) NOT NULL,
	[HotelName] [varchar](50) NOT NULL,
	[HotelAddress] [varchar](255) NOT NULL,
	[HotelInfo] [varchar](255) NOT NULL,
	[Province] [varchar](50) NULL,
	[StartPrice] [varchar](20) NULL,
	[HotelImage] [varchar](255) NULL,
 CONSTRAINT [PK_Hotel] PRIMARY KEY CLUSTERED 
(
	[HotelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [HotelID] UNIQUE NONCLUSTERED 
(
	[HotelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 6/21/2023 9:36:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[RoomID] [varchar](20) NOT NULL,
	[RoomName] [varchar](20) NOT NULL,
	[AccountID] [varchar](20) NOT NULL,
	[CheckIn] [varchar](20) NOT NULL,
	[CheckOut] [varchar](20) NOT NULL,
	[NumberOrder] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 6/21/2023 9:36:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[HotelID] [varchar](20) NOT NULL,
	[RoomID] [varchar](20) NOT NULL,
	[RoomName] [varchar](100) NOT NULL,
	[RoomInfo] [varchar](255) NOT NULL,
	[RoomPrice] [varchar](20) NOT NULL,
	[BedQuantity] [varchar](20) NOT NULL,
	[Wifi] [binary](1) NOT NULL,
	[Window] [binary](1) NOT NULL,
	[Smoking] [binary](1) NOT NULL,
	[RoomImage] [varchar](255) NULL,
	[RoomAvailable] [int] NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_AccountRole] FOREIGN KEY([roleID])
REFERENCES [dbo].[AccountRole] ([roleID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_AccountRole]
GO
ALTER TABLE [dbo].[Hotel]  WITH CHECK ADD  CONSTRAINT [FK_Hotel_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Hotel] CHECK CONSTRAINT [FK_Hotel_Account]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Room] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Room]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_Hotel] FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotel] ([HotelID])
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_Hotel]
GO
USE [master]
GO
INSERT [dbo].[AccountRole] ( [role], [roleID]) VALUES ( N'Admin', N'R001')
INSERT [dbo].[AccountRole] ( [role], [roleID]) VALUES ( N'Owner', N'R002')
INSERT [dbo].[AccountRole] ( [role], [roleID]) VALUES ( N'User', N'R003')
Go
INSERT [dbo].[Account] ([AccountID],[username],[password],[roleID],[email],[name],[phone],[birthday],[nation],[gender],[identitycard]) VALUES (N'A001', N'admin1', N'password1', N'R001', N'admin4@example.com',N'Admin1',  N'987654321', N'1991-07-15', N'USA', N'Female', N'5678904321')
INSERT [dbo].[Account] ([AccountID],[username],[password],[roleID],[email],[name],[phone],[birthday],[nation],[gender],[identitycard]) VALUES (N'A002', N'admin2', N'password1', N'R001', N'admin5@example.com',N'Admin2',  N'123456789',  N'1996-04-20', N'USA', N'Male', N'3456789012')
INSERT [dbo].[Account] ([AccountID],[username],[password],[roleID],[email],[name],[phone],[birthday],[nation],[gender],[identitycard]) VALUES (N'U001', N'user1', N'user123', N'R003', N'user1@example.com',N'User 1',  N'987654321',  N'1994-08-05', N'USA', N'Female', N'2345678901')
Go


/*HOTEL=============================================================*/
INSERT [dbo].[Hotel] ([AccountID], [HotelID], [HotelName], [HotelAddress], [Province], [StartPrice], [HotelInfo], [HotelImage]) VALUES (N'O001', N'HDN001', N'Hotel 1', N'178 Đư?ng Tr?n Phú', N'Da Nang', N'300,000   ', N'This is Hotel 1 in Da Nang', N'avt.jpg')
INSERT [dbo].[Hotel] ([AccountID], [HotelID], [HotelName], [HotelAddress], [Province], [StartPrice], [HotelInfo], [HotelImage]) VALUES (N'O001', N'HDN002', N'Hotel 2', N'178 Đư?ng Tr?n Phú', N'Da Nang', N'300,000   ', N'This is Hotel 1 in Da Nang', N'avt.jpg')
INSERT [dbo].[Hotel] ([AccountID], [HotelID], [HotelName], [HotelAddress], [Province], [StartPrice], [HotelInfo], [HotelImage]) VALUES (N'O001', N'HDN003', N'Hotel 3', N'178 Đư?ng Tr?n Phú', N'Da Nang', N'300,000   ', N'This is Hotel 1 in Da Nang', N'avt.jpg')












GO

/*ROOM=============================================================*/
INSERT [dbo].[Room] ([HotelID], [RoomID], [RoomName], [RoomInfo], [RoomPrice], [BedQuantity], [Wifi], [Window], [Smoking], [RoomImage], [RoomAvailable]) VALUES (N'HDL005', N'DL5R01', N'Rooms 1', N'Standard Room with garden view', N'100.00', N'2', 0x01, 0x01, 0x00, N'room9.jpg', 15)
INSERT [dbo].[Room] ([HotelID], [RoomID], [RoomName], [RoomInfo], [RoomPrice], [BedQuantity], [Wifi], [Window], [Smoking], [RoomImage], [RoomAvailable]) VALUES (N'HDL005', N'DL5R02', N'Rooms 2', N'Deluxe Room with pool view', N'150.00', N'2', 0x01, 0x01, 0x00, N'room10.jpg', 7)
INSERT [dbo].[Room] ([HotelID], [RoomID], [RoomName], [RoomInfo], [RoomPrice], [BedQuantity], [Wifi], [Window], [Smoking], [RoomImage], [RoomAvailable]) VALUES (N'HDL006', N'DL6R01', N'Rooms 1', N'Standard Room with city view', N'100.00', N'2', 0x01, 0x01, 0x00, N'room11.jpg', 11)











Go

/*ORDER=======================================*/
INSERT [dbo].[Order] ([AccountID],  [RoomID], [RoomName], [CheckIn], [CheckOut], [NumberOrder]) VALUES (N'U001',  N'DN1R01', N'Room 1', N'2023-06-10', N'2023-06-12', 1)
INSERT [dbo].[Order] ([AccountID],  [RoomID], [RoomName], [CheckIn], [CheckOut], [NumberOrder]) VALUES (N'U001',  N'DN1R02', N'Room 2', N'2023-06-11', N'2023-06-14', 2)
INSERT [dbo].[Order] ([AccountID],  [RoomID], [RoomName], [CheckIn], [CheckOut], [NumberOrder]) VALUES (N'U001',  N'DL1R01', N'Room 3', N'2023-06-12', N'2023-06-15', 3)

