@{
    ViewData["Title"] = "Terms and conditions";
}
<h1>@ViewData["Title"]</h1>

<p>
    We guarantee you the best available rate when you book a room through an official Four Seasons website. If you find a lower publicly available rate (“Lower Rate”) elsewhere within 24 hours of making your booking, we will match the lower rate, subject to the following terms and conditions:
    <br />
    <br/>1. Reservations must be made through one of the Four Seasons official websites.
    <br /><br />
    2. The Lower Rate must be for the same type of accommodation, which means the same room type, at the same hotel or resort, with the same dates and length of stay, same number of guests, with a similar view or room size, same designation as either cancellable or non-cancellable, same advance purchase policies and the same terms and conditions governing the room rate.
    <br /><br />
    3. You must complete and submit a claim submittal web form to Four Seasons in accordance with the claim form’s instructions to process the claim.
    <br /><br />
    4. You must submit your claim within 24 hours of the reservation being made with Four Seasons and at least 48 hours (72 hours for non-English Four Seasons websites) before the standard check-in time at the applicable Four Seasons hotel or resort.
    <br /><br />
    5. You may submit only one claim for each stay. A “stay” means the total number of consecutive nights spent at the same hotel or resort by the same guest or guests. You must complete the stay.
    <br /><br />
    6. Rate comparisons will be made net of taxes, gratuities, service charges, early departure fees, or other fees and incidental charges. Free breakfast and free or discounted amenities or services offered as part of the Lower Rate will be excluded from the rate comparison, and will not be provided by Four Seasons when matching the Lower Rate.
    <br /><br />
    7. Four Seasons reserves the right to deny a claim, if it cannot independently verify the availability of a Lower Rate at the time it processes the claim. The Lower Rate must be bookable on another website. Advertised or inquiry only rates do not qualify.
    <br /><br />
    8. Four Seasons may at any time and without notice terminate or restrict a person’s ability to submit a claim under or otherwise benefit from the Best Rate Guarantee if in its sole discretion Four Seasons determines that such person has: (a) acted in a manner inconsistent with applicable laws or ordinances; (b) acted in a fraudulent or abusive manner; (c) submitted multiple invalid Best Rate Guarantee claims; (d) failed to stay at Four Seasons after receiving approved Best Rate Guarantee claims; or (e) breached any of these terms and conditions.
    <br /><br />
    9. The Best Rate Guarantee will only apply to Four Seasons residential rental units that are included in a rental program managed by Four Seasons.
    <br /><br />
    10. The Best Rate Guarantee does not apply to existing reservations that are not booked through a Four Seasons website, and Four Seasons is not responsible for any fees associated with cancelling a reservation made through a different channel (e.g., a call centre, a non-Four Seasons booking channel).
    <br /><br />
    11. The Best Rate Guarantee will be suspended during times where the Four Seasons websites or certain rates are not available due to an outage, a technical issue or a circumstance beyond Four Seasons’ reasonable control.
    <br /><br />
    12. Four Seasons may deny claims where the applicable Four Seasons hotel or resort will no longer be operating as a Four Seasons hotel or resort on the date of the stay in question.
    <br /><br />
    13. Any disputes arising out of or related to the Best Rate Guarantee or these terms and conditions shall be handled individually without any class action, and shall be governed by, construed and enforced in accordance with the laws in which the Four Seasons hotel or resort being booked is located.
    <br /><br />
    14. Unless prohibited by law, Four Seasons reserves the right to amend, revise, supplement, suspend or discontinue the Best Rate Guarantee program and the terms and conditions at anytime in its sole discretion and without prior notice.
    <br /><br />
    <h1>Our Best Rate Guarantee does not apply to the following:</h1>
    <br />
    1. Reservations booked via non-Four Seasons websites
    <br /><br />
    2. Hotel packages or travel packages that may include hotel, airfare, car rental, food and beverage offers or other similar packages or amenities
    <br /><br />
    3. Discount or negotiated rates not available to the general public, including but not limited to membership rates (e.g., AAA or AARP); corporate, government, promotional, unpublished, packaged or opaque rates; group or other specially negotiated rates or rates available on closed membership sites; or rates attained through the use of third-party discount codes or coupons
    <br /><br />
    4. Auction sites or sites on which reservation holders are reselling confirmed reservations
    <br /><br />
    5. Reservations made within 24 hours of arrival
    <br /><br />
    6. Taxes, gratuities, service charges, early departure fees or other fees and incidental charges
    <br /><br />
    7. Rate disparities due to fluctuations, rounding or differences in currency exchange rates
    <br /><br />
    <h1>Claim process:</h1>
    <br />
    For a claim to be eligible under the Best Rate Guarantee, it must be submitted through the claim submittal web form. A claim must be submitted no more than 24 hours after making a reservation through a Four Seasons direct channel, and at least 48 hours (72 hours for non-English Four Seasons websites) before the standard check-in time at the applicable Four Seasons hotel or resort. The claim will be processed within 24 hours (72 hours for claims received via non-English Four Seasons websites).
</p>
